{% extends 'navbar.html' %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
Care

{% endblock %}

{% block body %}

<div style="background: url({% static 'images/gr.jpg' %});padding-top:5px" width=100% height=100%>
<center style="color:white">
	<br>
	<h1><b>You Are Absolutely Alright! But Be cautious</b></h1><br><br>

<p>People with mild symptoms who are otherwise healthy should manage their symptoms at home.<br><br><br>
On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days<br><br><br>
<h3>Self-care</h3>
If you feel sick you should rest, drink plenty of fluid, and eat nutritious food. <br><br><br>
Stay in a separate room from other family members, and use a dedicated bathroom if possible.<br><br><br>
 Clean and disinfect frequently touched surfaces.<br><br><br>
Everyone should keep a healthy lifestyle at home. Maintain a healthy diet, sleep, stay active, and make social contact with loved ones through the phone or internet. <br><br><br>
Children need extra love and attention from adults during difficult times. Keep to regular routines and schedules as much as possible.<br><br><br>
It is normal to feel sad, stressed, or confused during a crisis.<br><br><br> 
Talking to people you trust, such as friends and family, can help.<br><br><br>
 If you feel overwhelmed, talk to a health worker or counsellor.<br><br><br><br><br>
</p>

</center>

</div>



{% endblock %}