{% extends 'navbar.html' %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
Covid Main Page

{% endblock %}

{% block body %}
<center>
	<div style="background-image:url({% static 'images/dis.jpg'%});background-repeat:no-repeat;background-size:100% 100%;padding:5px">
	<h1 style="color:aqua"><b>Welcome To Covid Testing Unit</b></h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="{% url 'home'%}"><h2 style="color:white">Reach home page for <b style="color:aqua">COVID</b> details</h2></a>	<br><br>
</div>
</center>


{% endblock %}	