{% extends 'navbar.html' %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
Home page
{% endblock %}

{% block body %}
<center>
	<div style="background:url({% static 'images/orange.jpg'%});padding-top:5px" width='720px' height='720px'>
	<h1 style="color:white;"><b> Welcome to home page </b></h1>

	<h3 style="color:white"><b>Corona virus!!<b></h3><br>
	<p style="color:white">
	Coronaviruses are a large family of viruses which may cause illness in animals or humans.  In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.<br><br>
	</p>
	
	<h3  style="color:white"><b>Covid-19</b></h3><br>
	<p style="color:white">
		COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019. COVID-19 is now a pandemic affecting many countries globally.<br><br>
	</p>
	
	<h3 style="color:white"><b>Spread??</b></h3><br>
	<p style="color:white">
		People can catch COVID-19 from others who have the virus. The disease spreads primarily from person to person through small droplets from the nose or mouth, which are expelled when a person with COVID-19 coughs, sneezes, or speaks. These droplets are relatively heavy, do not travel far and quickly sink to the ground. People can catch COVID-19 if they breathe in these droplets from a person infected with the virus.  This is why it is important to stay at least 1 meter) away from others. These droplets can land on objects and surfaces around the person such as tables, doorknobs and handrails.  People can become infected by touching these objects or surfaces, then touching their eyes, nose or mouth.  This is why it is important to wash your hands regularly with soap and water or clean with alcohol-based hand rub.

WHO is assessing ongoing research on the ways that COVID-19 is spread and will continue to share updated findings.<br><br>   
	</p>

	<h3 ><a href="{% url 'register' %}"><b style="color:red">Click here to check</b></a></h3><br><br>
</div>

</center>





{% endblock %}

