{% extends 'navbar.html' %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
Warning

{% endblock %}

{% block body %}
<div style="background: url({% static 'images/8k.jpeg' %});padding-top:5px" width=100% height=100%>
<CENTER><br>
	<h1><b>WARNING!!</b></h1><br><br><br>
<h3><p style="color:red">PLEASE VISIT THE NEAREST HOSPITAL AND HAVE PROPER COVID TEST!!</p></h3><br><br><br>

<h3 style="color: white">
	Seek immediate medical care if you have difficulty breathing or pain/pressure in the chest.<br><br><br> If possible, call your health care provider in advance, so he/she can direct you to the right health facility.<br><br><br>
	
Please do have proper medication as immediately as possible</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</CENTER>
</div>
{% endblock %}