{% extends 'navbar.html' %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
OWNER

{% endblock %}

{% block body %}
<div style="background-image: url({% static 'images/watrclr.jpg'%});background-size: 100% 100%">
	<center><br>
		<h2 style="color:white"><b>ABOUT</b></h2>
		<br>
	{% load static %}<img src="{% static 'images/blackcap.jpg' %}" style="width:300px;height:400px"><br><br>
	<aside style="color:white;text-align: top-right">
		
		Owner:<h4><b>RAMAYANAM SAI SUNANDH</b></h4><br><br>
		Age:<b>21</b><br><br>
		Qualification:B.Tech(EEE)<br><br>
		Created on:12-05-2021<br><br><br>

		<b>About this page:</b><br>
This is the first webapplication done by me and the main motto of developing this webapp is to provide the covid awareness and to help them to get to know the situation they are in and to provide precautions and health measures and i wanted to include much more like some real life examples of those who went through and their experiences  and looking forward for many more....and hoping the best .....<br><b style="float:right;padding-right: 10px">JAI HIND</b><br><br><br>



		<b>Reach Out Me At:</b><br><br>
		<b>Email:</b>sai.sunanadh.200mb@gmail.com<br><br>
		<b>LinkedIn:</b><a style="color:black" href="https://www.linkedin.com/in/sai-sunandh-ramayanam-1a01221b0/"><b>sai-sunandh</b></a><br><br>
		<b>Facebook:</b><a style="color:black" href="https://www.facebook.com/sai.sunandh.200mb/"><b>Sai Sunandh</b></a><br><br>
		<b>Github:</b><a style="color:black" href="https://github.com/sai-sunandh"><b>sai-sunandh</b></a><br><br>



	</aside>
	</center>
</div>



{% endblock %}