{% extends 'navbar.html' %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
precautions
{% endblock %}
{% block body %}


	<div style="background:url({% static 'images/wor.jpg'%});padding-top: 5px ;background-size: 100% 100%">
		<h1 style="color:white;text-align: center;"><b>PRECAUTIONS!</b></h1>
	<p style='color:yellow;text-align:center;'>Protect yourself and others around you by knowing the facts and taking appropriate precautions.<br> Follow advice provided by your local health authority.</p><br>

<h2 style='color:white;text-align:center'><b>To prevent the spread of COVID-19</b></h2><br><br>
<b><p style="color:white;text-align:center">
Clean your hands often.<br><br> Use soap and water, or an alcohol-based hand rub.<br><br>
Maintain a safe distance from anyone who is coughing or sneezing.<br><br>
Wear a mask when physical distancing is not possible.<br><br>
Don’t touch your eyes, nose or mouth.<br><br>
Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.<br><br>
Stay home if you feel unwell.<br><br><br>
If you have a fever, cough and difficulty breathing, seek medical attention.<br><br>
Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections.<br><br>
<b>Masks</b><br><br>
Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority.
	</p></b><br>
	</div>

{% endblock %}