{% extends 'navbar.html' %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
Quarantine
{% endblock %}

{% block body %}
{% load static %}
<div style="background: url({% static 'images/wb.jpg' %});background-repeat:no-repeat;background-size:100% 100%;padding-top: 5px ">
<center>
	<br>

	<h1 style="color:white"><b>Please Self Isolate Yourself !!</b></h1><br><br>
	<h4 style="color:gold">
		If you have minor symptoms, such as a slight cough or a mild fever, there is generally no need to seek medical care.<br><br> Stay at home, self-isolate and monitor your symptoms. Follow national guidance on self-isolation

	</h4><br><br>
	<p style="color:deeppink">

		 self-isolation, it is because he/she is ill but not severely ill (requiring medical attention)<br><br><br>

have a large, well-ventilated with hand-hygiene and toilet facilities<br><br><br>
If this is not possible, place beds at least 1 metre apart<br><br><br>
Keep at least 1 metre from others, even from your family members<br><br><br>
Monitor your symptoms daily<br><br><br>
Isolate for 14 days, even if you feel healthy<br><br><br>
If you develop difficulty breathing, contact your healthcare provider immediately – call them first if possible<br><br><br>
Stay positive and energized by keeping in touch with loved ones by phone or online, and by exercising yourself at home.<br><br><br><br><br><br><br><br>
	</p>

</center>
</div>

{% endblock %}