{% extends 'navbar.html' %}
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
symptoms
{% endblock %}

{% block body %}
 
<div style="background:url({% static 'images/bl.jpg'%});background-repeat:no-repeat;background-size:100% 100%;padding-top: 5px">
<center><h1 style="color:white;font-size: 250%"><b>--SYMPTOMS--</b></h1></center><br>
<center style="color:white;">

People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus.<br><br> People with these symptoms may have COVID-19:<br><br>

Fever or chills<br><br>
Cough<br><br>
Shortness of breath or difficulty breathing<br><br>
Fatigue<br><br>
Muscle or body aches<br><br>
Headache<br><br>
New loss of taste or smell<br><br>
Sore throat<br><br>
Congestion or runny nose<br><br>
Nausea or vomiting<br><br>
Diarrhea<br><br>
This list does not include all possible symptoms. CDC will continue to update this list as we learn more about COVID-19.<br><br>

</center>
{% endblock %}